@model BankWEB.Models.Mortgage
@{
    ViewData["Title"] = "Mortgage calculator";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Mortgage calculator</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Calculate">
            @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
            <div class="form-group">
                <label asp-for="InitialLoan" class="control-label"></label>
                <input asp-for="InitialLoan" class="form-control" />
                <span asp-validation-for="InitialLoan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DownPayment" class="control-label"></label>
                <input asp-for="DownPayment" class="form-control" />
                <span asp-validation-for="DownPayment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfPayments" class="control-label"></label>
                <input asp-for="NumberOfPayments" class="form-control" />
                <span asp-validation-for="NumberOfPayments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BankId" class="control-label"></label>
                <input asp-for="BankId" class="form-control" />
                <span asp-validation-for="BankId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Calculate" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
