@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
@{
    
<p>
    Your account is Created please <a asp-area="Identity" asp-page="/Account/Login">Log In</a>
</p>
}
